* {
    box-sizing: border-box;
    outline: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    cursor: default;
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 300px;
    padding: 10px 40px;
    background-color: #942714;
    color: #fff;
}

header>ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    flex-direction: column;
}

header li {
    display: inline-block;
    padding: 20px;
}

main {
    height: calc(100% - 83px);
    padding: 20px;
    width: 100%;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #942714;
}

button {
    margin-top: 10px;
    padding: 6px;
    background-color: #942714;
    color: #fff;
    border: 0;
    cursor: pointer;
}

button:disabled {
    background-color: #a0594c;
    color: #ddd;
    cursor: not-allowed;
}

input, select {
    margin: 5px;
    padding: 6px;
    border: 1px solid #942714;
    text-align: center;
}
